/* Fonts LInks */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: none;
    text-decoration: none;
}

.nav-container {
    max-width: 1180px;
    margin: 0 auto;
    background: #20364b;
}


.nav-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;

}

.nav-row .web-logo img {
    width: 150px;
    cursor: pointer;
}

.nav-row .menu-list {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-row .menu-list li a {
    color: #fff;
    transition: all 0.3s linear;
}

.nav-row .menu-list li a:hover {
    border-bottom: 4px solid #fdc11f;
    padding-bottom: 0.5rem;
    color: #fdc11f;
    border-radius: 10px 10px 10px 10px;

}

.nav-row .menu-list li i {
    background: #fdc11f;
    padding: 0.5rem;
    border-radius: 50%;
    border: 6px solid #70683b;
    font-size: 18px;
    cursor: pointer;
}


.body-container {
    max-width: 1180px;
    margin: 0 auto;
    background: #20364b;
}


.body-row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    color: #fff;

}

.body-row .text {
    padding-top: 5rem;
}


.body-row .text h2 {
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 45px;
}

.body-row .text h2 span {
    color:#fdc11f;
}

.body-row .text p {
    font-weight: 300;
    margin-bottom: 1.5rem;
}


.body-row input {
    font-size: 16px;
    margin-bottom: 1.5rem;
    padding: 0.3rem 1rem;
    border: 3px solid #fdc11f;
    border-radius: 25px 25px 25px 25px;

}

.body-row button {
    font-weight: 500;
    font-size: 18px;
    padding: 0.3rem 2rem;
    color: #20364b;
    background: #fdc11f;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}

::placeholder {
    color: #20364b;
}

.body-row .body-img img {
    width: 650px;
}

.border {
    position: relative;
    width: 200px;
    height: 8px;
    background: #445668;
    bottom: 40px;
    left: 41.5%;
    border-radius: 10px 10px 10px 10px;
}


.border::before {
    content: "";
    display: block;
    width: 70px;
    height: 8px;
    background: #fdc11f;
    bottom: 40px;
    left: 41.5%;
    position: relative;
    bottom: 0;
    left: 20%;
    border-radius: 10px 10px 10px 10px;
}